@use '../../styles/variables' as *;

.wrapper {
    width: 100%;
    display: flex;
    margin-top: -100px;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: url('../../assets/medina_melancholic_photo.webp');
    background-size: cover;
    background-position: center 20%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0; // shorthand for top/right/bottom/left: 0
        background: rgba(43, 59, 74, 0.75); // blueish melancholic tint
        z-index: 1;
        pointer-events: none;
    }

    // Make sure the content stays above the mask
    >* {
        position: relative;
        z-index: 2;
    }
}

.inner {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.imageWrapper {
    width: 50%;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 2px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.5);
    }
}

.textBlock {
    width: 50%;
    padding-left: 2rem;
    font-family: $font-secondary;
    color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.subtitle {
    font-family: $font-secondary;
    font-size: 2rem;
    color: $color-secondary;
    margin-bottom: 1rem;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: $color-primary;
    line-height: 1.2;
}

.description {
    font-size: 1.2rem;
    line-height: 1.7;
    color: $color-secondary;
    max-width: 90%;
}

@media (max-width: 1300px) {
    .inner {
        flex-direction: column;
        gap: 2rem;
        padding: 0 2rem;

    }

    .wrapper {
        background-size: 300%;
        background-position: center center;
    }

    .textBlock {
        width: 55%;
        margin-top: -10rem;
        order: 1;
        padding: 0 1rem;
        align-items: center;
    }

    .title {
        font-size: 1.8rem;
        margin-top: 19rem;
    }

    .subtitle {
        font-size: 1.6rem;
    }

    .description {
        font-size: 1rem;
        max-width: 100%;
    }

    .imageWrapper {
        width: 40%;
        aspect-ratio: 3/4;
        margin-top: -7rem;
        order: 2;
        justify-content: center;
        margin-bottom: 5rem;
    }


}

@media (max-width: 767px) {
    .inner {
        flex-direction: column;
        gap: 2rem;
        padding: 0 2rem;

    }

    .wrapper {
        background-size: 300%; // Increase the background coverage
        background-position: center top; // Adjust as needed
    }



    .textBlock {
        width: 100%;
        margin-top: -15rem;
        order: 1;
        padding: 0 1rem;
        align-items: center;
    }

    .title {
        font-size: 1.8rem;
        margin-top: 19rem;
    }

    .subtitle {
        font-size: 1.6rem;
    }

    .description {
        font-size: 1rem;
        max-width: 100%;
    }

    .imageWrapper {
        width: 75%;
        aspect-ratio: 3/4;
        margin-top: -7rem;
        order: 2;
        justify-content: center;
        margin-bottom: 5rem;
    }


}