    @use '../../styles/variables' as *;


    .bannerWrapper {
        display: flex;
        width: 100%;
        height: 800px;
        min-height: 800px;
        margin-top: -10rem;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 150;
        overflow: visible;
        flex-direction: column;

        .title {
            font-family: $font-secondary;
            color: $color-primary;
            font-size: 2.5rem;
            margin-top: -11rem;
            text-align: center;
            z-index: 200;
            padding: 1rem;
            padding-right: 6rem;
            padding-left: 6rem;
            line-height: 1.2; // 👈 Add this line
            margin-bottom: -3rem;
        }

        .imageRow {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -1rem;
            width: 95%;
            flex: 1; // Take remaining vertical space
            padding-right: 2rem;
        }


        .imageContainer {
            position: relative;
            max-height: 600px;
            flex: 1;
            transition: transform 0.3s ease;
            align-items: center;
            padding: 0.5rem;



            &:hover {
                transform: scale(1.03);


                .caption {
                    opacity: 1;
                    visibility: visible;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                padding: 1rem;
                object-position: center center;
            }

            .caption {
                position: absolute;
                bottom: 1rem;
                right: -0.6rem;
                background: rgba(0, 0, 0, 0.6);
                color: white;
                font-size: 1rem;
                padding: 0.4rem 0.8rem;
                border-radius: 2px;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease, visibility 0.3s ease;
                text-align: right;

            }
        }

        .image1 {
            flex: 2;
            height: 325px;
        }

        .image2 {
            flex: 1.5;
            height: 350px;
        }

        .image3 {
            flex: 1.2;
            height: 300px;
        }

        .image4 {
            flex: 1.3;
            height: 375px;
        }
    }

    @media (max-width: 1300px) {
        .bannerWrapper {
            flex-direction: column;
            margin-top: -11rem;



            .title {
                font-size: 1.8rem;
                margin-top: 11rem;
                margin-bottom: -13rem;
            }


            .imageContainer {
                height: 200px;
                padding-top: 2rem;
            }
        }
    }

    @media (max-width: 767px) {
        .bannerWrapper {
            flex-direction: column;
            margin-top: -12rem;



            .title {
                font-size: 1.8rem;
                margin-top: 2rem;
                margin-bottom: -13.5rem;
            }


            .imageContainer {
                height: 200px;
            }
        }
    }

    // .highlight {
    //     color: $color-fifthary; // or $color-secondary if defined
    //     font-weight: bold;
    //     display: inline-block;
    //     font-size: 3rem;
    //     margin-top: 8rem;
    //     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

    // }