//////FONTS////
$font-primary: "Cutive Mono", monospace;

$font-secondary: "Special Elite", system-ui;
$font-thirdary: "Satisfy", cursive;
$font-fourthary: "Playball", cursive;
$font-fifthary: "Dancing Script", cursive;
$font-sixthary: "EB Garamond", serif;
$font-seventhary: "Playwrite US Trad", cursive;



///// COLOURS ////

$color-primary: #fefefe;
$color-secondary: #baacac;
$color-thirdary: #515483;
$color-fourthary: #143665;
$color-fifthary: #a61919;


////// SHADOWS ////
$shadow-large: 0px 6px 12px -6px rgba(10, 10, 10, 0.6);
$shadow-large-clear-border: 0px 6px 12px -6px rgba(234, 220, 220, 2);


////// BORDER RADIUS ////
$border-radius: 2px