@use '../../styles/variables' as *;

.wrapper {
    position: relative;
    height: 950px;
    background-size: cover;
    background-position: center;
    padding: 8rem 2rem 6rem;
    margin-top: -16rem;
    z-index: 0; // Keeps background below previous section
    overflow: visible;

    &::before {
        content: '';
        position: absolute;
        top: -6rem;
        left: 0;
        right: 0;
        height: 6rem;
        background: inherit;
        z-index: -1;
    }
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-top: -15rem;
    justify-content: flex-end;
    margin-right: 10rem;

}

.textContent {
    max-width: 500px;
    font-family: $font-secondary;
    color: $color-primary;
    padding-right: 6rem;
    z-index: 2;


    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-size: 3rem;

    }

    p {
        line-height: 1.6;
        font-size: 1.1rem;
    }

    @media (max-width: 1100px) {
        order: 2
    }

}

/* Overlapping images */
.leftImageWrapper,
.rightImageWrapper {
    position: absolute;
    z-index: 5;
    top: -8rem;

    img {
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        border-radius: $border-radius;
        max-width: 100%;
        height: auto;
    }

    @media (max-width: 1100px) {
        position: static;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
}

.leftImageWrapper {
    left: 2rem;
    margin-top: 25rem;
    margin-left: 10rem;
}

.rightImageWrapper {
    right: 2rem;
    margin-top: -5rem;
    margin-right: 10rem;

}

.relativeWrapper {
    position: relative;
}

.rightImageWrapper img {
    width: 560px;
    height: auto;

    @media (max-width: 1100px) {
        width: 300px;
        margin-top: 5rem;
        order: 1;
    }
}

.leftImageWrapper img {
    width: 470px;
    height: auto;

    @media (max-width: 1100px) {
        width: 300px;
        margin-top: 5rem;
        order: 3;
    }
}

.highlight {
    color: $color-fifthary; // or use a custom color like #FFDD57
    font-size: 4.6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}