@use '../../styles/variables' as *;

.section {
    width: 100%;
    height: auto;
    margin-top: -160px;
    margin-bottom: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow-x: hidden;


}



.overlay {
    width: 100%;
    height: auto;
    min-height: 800px;
    background-color: rgba(11, 11, 11, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-bottom: 4rem;
    position: relative;
    z-index: -1;

}

.centeredImageWrapper {
    position: relative;
    display: inline-block;
    width: 80%;
    max-width: 800px; // or your preferred max width
    text-align: center;


    &:hover .imageCaption {
        opacity: 1;
        transform: translateY(0);
    }
}

.centeredImage {
    aspect-ratio: 4 / 3; // or 4/3, 16/9 depending on your image shape
    height: 70%; // fills 90% of container height
    width: 100%;
    max-width: 1000px;
    margin-top: 3rem;
    padding: 0 2rem; // inner spacing
    border-radius: 2px;
    opacity: 0;
    transform: scale(0.96);
    transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.4s ease;

    &:hover {
        transform: scale(1.03);
    }
}

.imageCaption {
    position: absolute;
    bottom: 1rem;
    right: 0.3rem;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
    pointer-events: none;
    z-index: 3;
}


.animate {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 1300px) {
    .centeredImage {
        max-width: 80%;
        margin-bottom: 2rem;

    }

    .section {
        width: 100%;
        height: auto;

    }

    .imageCaption {
        position: absolute;
        right: 8.3rem;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 1rem;
        padding: 0.4rem 0.8rem;
        border-radius: 2px;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateY(10px);
        pointer-events: none;
        z-index: 3;
    }



}


@media (max-width: 1300px) {
    .centeredImage {
        max-width: 80%;

    }

    .section {
        width: 100%;
        height: 600px;

    }



}